* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(90, 6, 246);
}

.container {
    max-width: 1400px;
    margin: 180px auto;
    text-align: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.team {
    font-size: 4rem;
    font-weight: 900;
    color: white;
}

.team-mg {
    width: 13rem;
    
}

.score {
    font-size: 5rem;
    background-color: black;
    padding: 15px;
    margin: 15px;
    color: orangered;
    border-radius: 5%;
}

button {
    padding: 5px;
    background-color: rgb(238, 130, 238, 0.2);
    border: 1px solid white;
    border-radius: 5%;
    color: white;
    margin-bottom: 20px;
}